In [1]:
import requests
import json
import prettytable
import pandas as pd

"""headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()"""

'headers = {\'Content-type\': \'application/json\'}\ndata = json.dumps({"seriesid": [\'CUUR0000SA0\',\'SUUR0000SA0\'],"startyear":"2011", "endyear":"2014"})\np = requests.post(\'https://api.bls.gov/publicAPI/v2/timeseries/data/\', data=data, headers=headers)\njson_data = json.loads(p.text)\nfor series in json_data[\'Results\'][\'series\']:\n    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])\n    seriesId = series[\'seriesID\']\n    for item in series[\'data\']:\n        year = item[\'year\']\n        period = item[\'period\']\n        value = item[\'value\']\n        footnotes=""\n        for footnote in item[\'footnotes\']:\n            if footnote:\n                footnotes = footnotes + footnote[\'text\'] + \',\'\n        if \'M01\' <= period <= \'M12\':\n            x.add_row([seriesId,year,period,value,footnotes[0:-1]])\n    output = open(seriesId + \'.txt\',\'w\')\n    output.write (x.get_string())\n    output.close()'

In [5]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ["LNS14000000"],"startyear":"2021", "endyear":"2023", "registrationkey": "38cbbfb1038446378c6e795256489334"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [6]:
display(json_data)

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 159,
 'message': [],
 'Results': {'series': [{'seriesID': 'LNS14000000',
    'data': [{'year': '2023',
      'period': 'M12',
      'periodName': 'December',
      'value': '3.7',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M11',
      'periodName': 'November',
      'value': '3.7',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M10',
      'periodName': 'October',
      'value': '3.8',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M09',
      'periodName': 'September',
      'value': '3.8',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M08',
      'periodName': 'August',
      'value': '3.8',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M07',
      'periodName': 'July',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M06',
      'periodName': 'June',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M05',
      'periodName': 'May',
      'value': '3.7',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M04',
      'periodName': 'April',
      'value': '3.4',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.4',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M12',
      'periodName': 'December',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M11',
      'periodName': 'November',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M10',
      'periodName': 'October',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M09',
      'periodName': 'September',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M08',
      'periodName': 'August',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M07',
      'periodName': 'July',
      'value': '3.5',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M06',
      'periodName': 'June',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M05',
      'periodName': 'May',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M04',
      'periodName': 'April',
      'value': '3.7',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.6',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.8',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.0',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M12',
      'periodName': 'December',
      'value': '3.9',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M11',
      'periodName': 'November',
      'value': '4.1',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M10',
      'periodName': 'October',
      'value': '4.5',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M09',
      'periodName': 'September',
      'value': '4.7',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.1',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.4',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.9',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.8',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '6.1',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '6.2',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '6.4',
      'footnotes': [{}]}]}]}}

In [7]:
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    display(x)

+-------------+------+--------+-------+-----------+
|  series id  | year | period | value | footnotes |
+-------------+------+--------+-------+-----------+
| LNS14000000 | 2023 |  M12   |  3.7  |           |
| LNS14000000 | 2023 |  M11   |  3.7  |           |
| LNS14000000 | 2023 |  M10   |  3.8  |           |
| LNS14000000 | 2023 |  M09   |  3.8  |           |
| LNS14000000 | 2023 |  M08   |  3.8  |           |
| LNS14000000 | 2023 |  M07   |  3.5  |           |
| LNS14000000 | 2023 |  M06   |  3.6  |           |
| LNS14000000 | 2023 |  M05   |  3.7  |           |
| LNS14000000 | 2023 |  M04   |  3.4  |           |
| LNS14000000 | 2023 |  M03   |  3.5  |           |
| LNS14000000 | 2023 |  M02   |  3.6  |           |
| LNS14000000 | 2023 |  M01   |  3.4  |           |
| LNS14000000 | 2022 |  M12   |  3.5  |           |
| LNS14000000 | 2022 |  M11   |  3.6  |           |
| LNS14000000 | 2022 |  M10   |  3.6  |           |
| LNS14000000 | 2022 |  M09   |  3.5  |           |
| LNS14000000 | 2022 |  M08   |  3.6  |           |
| LNS14000000 | 2022 |  M07   |  3.5  |           |
| LNS14000000 | 2022 |  M06   |  3.6  |           |
| LNS14000000 | 2022 |  M05   |  3.6  |           |
| LNS14000000 | 2022 |  M04   |  3.7  |           |
| LNS14000000 | 2022 |  M03   |  3.6  |           |
| LNS14000000 | 2022 |  M02   |  3.8  |           |
| LNS14000000 | 2022 |  M01   |  4.0  |           |
| LNS14000000 | 2021 |  M12   |  3.9  |           |
| LNS14000000 | 2021 |  M11   |  4.1  |           |
| LNS14000000 | 2021 |  M10   |  4.5  |           |
| LNS14000000 | 2021 |  M09   |  4.7  |           |
| LNS14000000 | 2021 |  M08   |  5.1  |           |
| LNS14000000 | 2021 |  M07   |  5.4  |           |
| LNS14000000 | 2021 |  M06   |  5.9  |           |
| LNS14000000 | 2021 |  M05   |  5.8  |           |
| LNS14000000 | 2021 |  M04   |  6.1  |           |
| LNS14000000 | 2021 |  M03   |  6.1  |           |
| LNS14000000 | 2021 |  M02   |  6.2  |           |
| LNS14000000 | 2021 |  M01   |  6.4  |           |
+-------------+------+--------+-------+-----------+

In [9]:
new_x = x.get_csv_string()
x_as_csv = x.get_csv_string().replace('\r','')
text_file = open("output_path.csv", "w")
n = text_file.write(x_as_csv)
text_file.close()

In [10]:
df_x = pd.read_csv("output_path.csv")
d = df_x.loc[::-1].reset_index(drop=True)

In [13]:
def BofL_stats(str_factor, str_ID, str_start_year, str_end_year): 
    """
    Code used to access the Bureau of Labor Statistics API the str_ID and years.
    Converts the data into a dataframe
    """
    
    if isinstance(str_factor, str) and isinstance(str_ID, str) and isinstance(str_start_year, str) and isinstance(str_end_year, str):
        
        headers = {'Content-type': 'application/json'}
        data = json.dumps({"seriesid": [str_ID], "startyear": str_start_year, "endyear":str_end_year,  "registrationkey": "38cbbfb1038446378c6e795256489334"})
        p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
        json_data = json.loads(p.text)
        
        for series in json_data['Results']['series']:
            x = prettytable.PrettyTable(["series id","year","period","value","footnotes"])
            seriesId = series['seriesID']
            for item in series['data']:
                year = item['year']
                period = item['period']
                value = item['value']
                footnotes=""
                for footnote in item['footnotes']:
                    if footnote:
                        footnotes = footnotes + footnote['text'] + ','
                if 'M01' <= period <= 'M12':
                    x.add_row([seriesId,year,period,value,footnotes[0:-1]])

        x_as_csv = x.get_csv_string().replace('\r','')
        text_file = open(f"{str_factor}.csv", "w")
        n = text_file.write(x_as_csv)
        text_file.close()
        df_x = pd.read_csv(f"{str_factor}.csv")
        df_factor = df_x.loc[::-1].reset_index(drop=True)
        
        return df_factor
        
    else:
        raise TypeError("All inputs must be strings")

In [14]:
BofL_stats('Unemployment Rate', 'LNS14000000', '2015', '2023')

       series id  year period  value  footnotes
0    LNS14000000  2015    M01    5.7        NaN
1    LNS14000000  2015    M02    5.5        NaN
2    LNS14000000  2015    M03    5.4        NaN
3    LNS14000000  2015    M04    5.4        NaN
4    LNS14000000  2015    M05    5.6        NaN
..           ...   ...    ...    ...        ...
103  LNS14000000  2023    M08    3.8        NaN
104  LNS14000000  2023    M09    3.8        NaN
105  LNS14000000  2023    M10    3.8        NaN
106  LNS14000000  2023    M11    3.7        NaN
107  LNS14000000  2023    M12    3.7        NaN

[108 rows x 5 columns]